@use "variable";
@use "color";
@forward "./variable";
@forward "./color";

:root {
  --sider-bg-color: #{color.$color-sider};
  --sider-width: #{variable.$sider-width};
  --sider-width-collapsed: #{variable.$sider-width-collapsed};
  --topbar-height: #{variable.$topbar-height};
  --z-index-topbar: #{variable.$z-index-topbar};
  --z-index-sider: #{variable.$z-index-sider};
}